.tac-one-regular {
    font-family: "Tac One", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  .rubik-scribble-regular {
    font-family: "Rubik Scribble", system-ui;
    font-weight: 400;
    font-style: normal;
  }
.container{
    background-color: aqua;
    
    height: 100px;
}
/*.container-fluid{
    background-color: coral;
   
    height: 100px;
}*/
.row{
    background-color: gold;
    margin: 5px;

}
.col{
    background-color: plum;
    margin: 5px;
}